<div class="container">
    <h1>Registrar</h1>
    <form id="Registrar" (ngSubmit)="onSubmit()">
        
      <input type="text" class="form-control" placeholder="FirstName" [(ngModel)]="singup.firstname"[ngModelOptions]="{standalone: true}">
      <input type="text" class="form-control" placeholder="LastName" [(ngModel)]="singup.lastname"[ngModelOptions]="{standalone: true}">
      <input type="email" class="form-control" placeholder="E-mail" [(ngModel)]="singup.email"[ngModelOptions]="{standalone: true}">
      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="singup.password"[ngModelOptions]="{standalone: true}">
      
     <button type="submit" for = "registrar" class="btn btn-primary">Registrar</button>

    </form>
    <p>have an account? <a href="/login">login here</a></p>
  </div>
  