<div class="container">
    <h1>Registrar</h1>
    <form (ngSubmit)="onSubmit()">
      <input type="text" class="form-control" placeholder="FirstName" [(ngModel)]="singup.firstname">
      <input type="text" class="form-control" placeholder="LastName" [(ngModel)]="singup.lastname">
      <input type="email" class="form-control" placeholder="E-mail" [(ngModel)]="singup.email">
      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="singup.password">
      
      <button type="submit" class="btn btn-primary" (click)="saveSingUp()">Registrar</button>

 <!-- <app-sing-up [singup]="singup" (retorno)="retorno.emit($event)"></app-sing-up>   -->
    </form>
  </div>
  