<form (ngSubmit)="saveAccount()">
    <div class="mb-3">
        <label for="inputAccountName" class="form-label">Account Name:</label>
        <input type="text" class="form-control" name="inputAccountName" aria-describedby="accountNameHelp" [(ngModel)]="account.name">
    </div>
    <div class="mb-3">
        <label for="inputRefreshToken" class="form-label">Refresh Token:</label>
        <input type="text" class="form-control" name="inputRefreshToken" [(ngModel)]="account.refresh_token">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save Account</button>
    </div>    
</form>
