.containsAdd{
    padding: 3%;
}
.bothtopclms{
    display: flex;
}
.inpts-product{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.clmAdd2{
    border: 1px solid green;
}
.addbtns{
    display: block;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}
.linpts{
    list-style: none; /* Removes the bullets */
}
