html, body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center; /* aligns vertically center */
  justify-content: center; /* aligns horizontally center */
  background-color: #be4444; /* or any color that suits your design */
}

body {
  padding: 0;
  box-sizing: border-box;
  /* Ensures that padding and borders are included in the total width and height */
}

.container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  padding: 20px;
  background-color: white; /* or any color you prefer */
  width: 100%;
  max-width: 400px;
  /* Removed 'margin: 0 auto' because flexbox is now handling centering */
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  width: 100%;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: #0069d9;
}

/* Responsive Media Query */
@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }
}
