<div class="container">
  <h1>Logar</h1>

  <form id="logar" (ngSubmit)="logar()">
    <input type="text" class="form-control" id="username" placeholder="Usuário" [(ngModel)]="login.username" [ngModelOptions]="{standalone: true}">
    <input type="password" class="form-control" id="password" placeholder="Senha" [(ngModel)]="login.password" [ngModelOptions]="{standalone: true}">
    
    <button type="submit" class="btn btn-primary">Logar</button>
  </form>

  <p>Não tem uma conta? <a href="/singup">Cadastre-se aqui</a></p>
</div>
